/* Main sections */
main{
z-index: 1;
}

p{
    font-size: 1.3em;
}

#contactSocialMedia img{
    width: 30px;    
}

.pinkLine{
    width: 100%;
    height: 5px;
    background-color: #E6A197;
    margin-bottom: 5px;
}

#formContact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding-top: 10px;
    margin: 30px 50px;
}
#formContact form{
    margin: 30px 30px;
    /* padding-left: 5px; */
}
#formContact p{
    text-align: center;

}
#formContact img{
    margin: 10px 10px;
    max-height: 550px;
    max-width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
form input, select,textarea {
    font-family: 'Petrona';
    height: 30px;
    font-size: 1.2em;
    border: lightslategray solid 1px;
    padding-left: 2px;

}
form textarea{
    height: auto;
}
#divButton{
    display: flex;
    justify-content: flex-end;
}
form .button { 
    width: 20%;
    padding: 5px 10px;
    background-color: #FFE0E6;
    border: #E6A197 1px solid;
}

@media (max-width: 900px) {
    #formContact{
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    #thankYouPhoto img{
    justify-items: center;
    width: 450px;
    height: 500px;
}

    .pinkLine{
        align-self: center;
    }

}

#networkingZone{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 5px;
    padding-bottom: 50px;
}   
#contactSocialMedia a{
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.networkingOptions{
    justify-content: left;
    padding-bottom: 2px;
}

.networkingOptions img{
    padding-right: 5px;
}


