@font-face {
    font-family: 'Sanchez';
    src: url('../fonts/Sanchez/Sanchez-Regular.ttf');
}
@font-face {
    font-family: 'Petrona';
    src: url('../fonts/Petrona/Petrona-VariableFont_wght.ttf');
}

*{
    font-family: "Sanchez", serif;
    padding: 0;
    margin: 0;
}

/* Header */
header{
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.logoHeader{
    float: left;
    width: 150px;
    padding: 15px 0 0 50px;
}
.barRight{
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px 20px 0 0;
    align-items: center;
}
.centerNav .navPages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px;
}
.navbar a:hover { 
    border-bottom: 3px solid #E6A197;
}
#homePage{
    border-bottom: 3px solid #E6A197;
} 
#account img{
    display: none;
}
#hamburgerMenu{
    font-size: 1.8em;
    display: none;
}

/* Header responsive */
@media (max-width: 900px) {
.logoHeader {
        width: 120px;
        padding-left: 20px;
    }
    .centerNav .navPages{
        flex-direction: column;
        display: none;
        margin: 10px;
        padding: 5px;     
        position:relative;
        gap: 10px;
        z-index: 2;
        background-color: white;   
        border: #E6A197 1.5px solid;     
        }

    #hamburgerMenu{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .barRight{
        padding-top: 70px ;
    }
};