/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    height: 80px;
    padding-left:5px ;
    width: 99%;
}

.logoFooter img{
    width: 180px;
    /* justify-content: flex-end; */
}
.centerFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    gap: 3px;
}
.networking img{
    width: 30px;    
}
.footerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    right: 0;    

}
footer p:hover{
    text-decoration: underline 2px#E6A197;
}

@media (max-width:700px){
    .logoFooter{
        width: auto;
    }
    footer{
        font-size: 0.82em;
    }
}
@media (max-width:430px){
    footer{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
        margin-top: 30px;
    }
    .footerRight{
        text-align: center;
    }
}
